.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid {
  display: grid;
  grid-template: auto / 1fr 1fr;
  grid-template-areas: "block01 block02" "block03 block03" "block04 block05";
}

.grid__item {
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.grid__item:nth-child(2) {
  grid-area: block01;
}

.grid__item:nth-child(3) {
  grid-area: block02;
}

.grid__item:nth-child(4) {
  grid-area: block03;
  height: 100px;
}

.grid__item:nth-child(5) {
  grid-area: block04;
}

.grid__item:nth-child(6) {
  grid-area: block05;
}
